:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --main-fon: #f5f5f5;
  --main-btn: #2196f3;
  --main-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
}

/*  основний колір background: #ffffff
 допоміжний background:#2F303A 
колір акцента background: #2196F3*/

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------- шапка---------*/
.conteiner {
  width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--main-btn);
  width: 145px;
  height: auto;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: 215px;
  margin-right: 93px;
}

.header-logo-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header .conteiner {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-list {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  column-gap: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  width: auto;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--main-btn);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--main-btn);
}

.header-list-info {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.header-item-info .header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--main-btn);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

/*------------герой------------*/
.hero {
  background-color: #2f303a;
  align-items: center;
  display: block;
  width: auto;
  height: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  background: #2f303a;
  max-width: 696px;
  padding-top: 200px;
  padding-bottom: 280px;
  margin: 0 auto;
}

.hero-btn {
  background-color: var(--main-btn);
  display: inline-block;
  text-align: center;
  min-width: 216px;
  height: 50px;
  margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.hero-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

/*------------переваги--------*/
.features {
  display: flex;
  column-gap: 30px;
  color: #f5f5f5;
  padding-top: 94px;
  padding-bottom: 118px;
}

.features-list {
  margin: 0 auto;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.features-after-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  max-width: 270px;
}

/*--------------чим ми займаємось------*/
.about {
  padding-top: 0px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 0px;
  text-align: center;
}

.about-item {
  padding-bottom: 94px;
}

/*---------------------команда--------------*/

.comand {
  display: flex;
  padding-top: 0px;
  padding-bottom: 94px;
}

.comand-list {
  display: flex;
}

.comand-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  padding-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.comand-img {
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.comand-list {
  column-gap: 30px;
}

.comand-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 30px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.comand-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 9;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 30px;
}

/*-------------------портфоліо--------------*/
.project {
  padding-top: 94px;
  padding-bottom: 114px;
}

/*   ----------filtr-button--portfolio----*/

.filtr-list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 56px;
  column-gap: 8px;
  align-items: center;
}

.filtr-item {
  min-height: 73px;
  min-width: 38px;
  text-align: center;
  background: #f5f4fa;
}

.filtr-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  color: var(--main-title-color);
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  column-gap: 30px;
  text-align: center;
}

.filtr-btn:hover,
.filtr-btn:focus {
  color: #ffffff;
  background-color: var(--main-btn);
}

/*----------progect--portfolio--------*/
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.progect-item {
  width: calc((100%-60px) / 3);
}
.project-item:nth-child(3n) {
  margin-right: 0;
}

/*
.project-item {width: 380px;
 margin-bottom: 30px; background-color: greenyellow;
}

.project-item:nth-child(3n) {margin-right: 0;}
.project-item:nth-child(-n+3) {margin-bottom: 0;}*/

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  padding-top: 0;
  margin-bottom: 4px;
  text-align: center;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

/*------------------------підвал----------*/
.footer {
  width: auto;
  height: auto;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .conteiner {
  display: block;
}

.footer-adress {
  font-style: normal;
}

.footer-logo-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--main-btn);
  width: 145px;
  height: auto;
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  width: 231px;
  height: auto;
  margin-bottom: 9px;
}

.footer-link:hover {
  color: var(--main-btn);
}

.footer-link:focus {
  color: var(--main-btn);
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  height: auto;
  margin-bottom: 9px;
}

.footer-mail:hover {
  color: var(--main-btn);
}

.footer-mail:focus {
  color: var(--main-btn);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  height: auto;
}

.footer-tel:hover {
  color: var(--main-btn);
}

.footer-tel:focus {
  color: var(--main-btn);
}
